<!---------- Add Lineups ---------------->
<div id="detailmodal" class="modal fade pop-bg">
    <div class="modal-dialog">
        <div class="modal-content popup">
            <button aria-hidden="true" data-dismiss="modal" class="close close-btn" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            <div class="clearfix"></div>
            <div class="addlineup">
                <h3>Add to My Lineups</h3>
                <div class="alert" style="display:none;"></div>
                <a href="#" class="aprt-line">
                    <p>Create a new lineup</p>
                </a>
                
                </div>    
            </div>
        </div>        
    </div>

<!---------- Add Lineups END ---------------->  