<footer ng-class="{'ft-thin' : searchFooter == true , '': searchFooter == false}"> 
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="footer-nav">                   
                    <li><a href="/aboutus">about</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/privacy">privacy</a></li>
                    <li><a href="/terms-of-use">terms</a></li>
                </ul>
              
            </div>
        </div>
    </div>
</footer>