<section>
    <div class="ap-large-image">
        <div class="ap-img-cont"  ng-init="initialize()">
            Who's in your lineup?          
            <form ng-submit="showAddress()">
                    <input id="searchTextField" name="searchTextField" type="text" placeholder="Search by city,zip or landmark"/>
                    <button class="main-search" ng-enter="showAddress()">Search</button>
            </form>
            
        </div>
    </div>
</section> 
<section class="ap-title">
    <div class="col-md-8 col-md-offset-2">
    A tool dedicated to multi-family professionals to track their compentitors online behavior.
    </div>
</section>   
<section class="ap-follow">
    <h3>Follow Your Competitors</h3>
    <h4>Before They Follow You</h4>
    <div class="col-md-3">
        <div class="ap-competitors">
            <img src="/assets/images/iconmonitor.jpg">
            <h6>Websites</h6>
            You need to think carefully about how you want/expect this to work. Without some actual content in the div, it will have zero height
        </div>
    </div>
    <div class="col-md-3">
        <div class="ap-competitors">
            <img src="/assets/images/Rectangle.jpg">
            <h6>Reviews</h6>
            You need to think carefully about how you want/expect this to work. Without some actual content in the div, it will have zero height
        </div>
    </div>
    <div class="col-md-3">
        <div class="ap-competitors">
            <img src="/assets/images/iconclock.jpg">
            <h6>Office Hours</h6>
            You need to think carefully about how you want/expect this to work. Without some actual content in the div, it will have zero height
        </div>
    </div>
    <div class="col-md-3">
        <div class="ap-competitors">
            <img src="/assets/images/Group.jpg">
            <h6>Social Media</h6>
            You need to think carefully about how you want/expect this to work. Without some actual content in the div, <span>Coming soon...</span>
        </div>
    </div>
</section>   
<section class="ap-learn">
    <div class="col-md-8 col-md-offset-2">
        <h1>Learn How to Manage Your Lineups</h1>
        <div class="video-container">
        <iframe src="https://www.youtube.com/embed/bzkRVzciAZg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="clearfix"></div> 
        <button class="btn btn-apbutton" ng-click="redirectLocn();">Get Started with Your Lineup</button>
    </div>   
</section>
<div class="clearfix"></div>   
