<!---------- login ---------------->
   <div id="myModal" class="modal fade pop-bg">
    <div class="modal-dialog">
      <div class="modal-content popup">
      	<button aria-hidden="true" data-dismiss="modal" class="close close-btn" type="button"><span class="glyphicon glyphicon-remove"></span></button>
        <div class="clearfix"></div>
   		<div class="welcome">
                    <h3>Welcome</h3>
            <div class="why-in">
            	 <a href="#" onclick='window.open("/auth/linkedin", "_blank", "resizable=yes, top=100, left=500, width=400, height=500");'><img src="/assets/images/in.png"></a>
            	<p><span style="font-weight:600;">Why only LinkedIn login? </span><br>
In order to eliminate as much fraud, spam and other crap, ApartmentLinup requres a valid active LinkedIn account.</p> 
<p>We will never intensionally post on your behalf, contract your friends and anything else creepy</p>
            </div>
        </div>
      </div>        
    </div>
   </div>
<!---------- login END ---------------->  